.comedians {
    margin-bottom: 150px;
    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 50px auto 0;
        // text-align: center;
        color: $red;
        border: 2px solid $red;
        max-width: 300px;
        width: 100%;
        min-height: 60px;
        height: auto;
        @include transition;

        &:hover{
            background-color:$white;
            border: 2px solid $white;
            
        }
    }

    &__top {
        display: flex;
        margin-bottom: 50px;
        gap: 0 60px;
        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
    }

    &__title {
        flex: 0 0 325px;
        margin-top: 75px;
        display: flex;
        flex-direction: column;
        gap: 10px 0;
        span:first-child {
            color: $white;

            font-size: 80px;

            font-weight: 600;
            line-height: 100%; /* 80px */
            text-transform: uppercase;
        }
        span:last-child {
            color: #848484;

            font-size: 30px;

            font-weight: 300;
            text-transform: uppercase;
        }
        @media screen and (max-width: 768px) {
            flex: auto;
            margin-bottom: 40px;
            span:first-child {
                font-size: 50px;
            }
            span:last-child {
                font-size: 30px;
            }
        }
    }

    &__text {
        flex: 3 1 100%;
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        gap: 20px 0;
        font-family: "Golos Text", sans-serif;
        p {
            font-weight: 400;
            font-size: 16px;
            color: $white;
            strong {
                color: $red;
            }
        }
    }

    &__gallery {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
        justify-content: center;
        @media screen and (max-width: 500px) {
            display: none;
        }
    }

    &__column {
        display: flex;
        flex-direction: column;
        gap: 20px;

        &:nth-child(3) {
            margin-top: 20px;
        }
        &:nth-child(2) {
            margin-top: 50px;
        }
        @media screen and (max-width: 500px) {
            margin-top: 0 !important;
        }
    }

    &__comedian {
        @media screen and (max-width: 768px) {
            display: flex;
            align-items: center;
        }
        img {
            @media screen and (max-width: 500px) {
                height: 290px !important;
                object-fit: contain;
            }
            max-width: 100%;
            height: auto;
        }
    }

    &__swiper {
        overflow: hidden;
        display: none;
        @media screen and (max-width: 500px) {
            display: block;
        }
    }

    &__swiper-wrapper {
        display: flex;
    }

    &__swiper-slide {
        // width: 223px !important;
        // // height: 321px !important;
        // width: fit-content !important;
    }

    &__swiper-btns {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        display: none;
        @media screen and (max-width: 500px) {
            display: flex;
        }
    }
}
// .container {
// }
// .swiper {
// }
// .swiper-wrapper {
// }
// .swiper-slide {
// }
// .swiper-button-prev {
// }
// .swiper-button-next {
// }
