.places {
    background-color: $white;
    padding: 80px 0;

    &__top {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }

    &__title {
        color: $black;
        font-size: 70px;

        font-weight: 600;

        text-transform: uppercase;

        @media screen and (max-width: 1024px) {
            font-size: 50px;
        }
    }

    &__text {
        color: $black;
        font-family: "Golos Text", sans-serif;
        font-size: 18px;

        line-height: 150%;
    }

    &__triggers {
        display: flex;
        // flex-wrap: wrap;
        gap: 10px;
        overflow: auto;
        margin-bottom: 30px;
        overflow-x: auto;
        padding-bottom: 10px;
        &::-webkit-scrollbar {
            width: 5px;
            height: 5px;
        }
        &::-webkit-scrollbar-button {
            width: 0px;
            height: 0px;
        }
        &::-webkit-scrollbar-thumb {
            background: $grey;
            border: 0px none $grey;
            border-radius: 50px;

            @include transition;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: $red;
        }
        &::-webkit-scrollbar-thumb:active {
            background: $red;
        }
        &::-webkit-scrollbar-track {
            background: #ffffff;
            border: 0px none #ffffff;
            border-radius: 19px;
        }
        @media screen and (max-width: 1024px) {
            flex-direction: column;
        }
    }

    &__triggers-btn {
        padding: 5px 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #616161;
        font-size: 16px;
        text-transform: uppercase;
        @include transition;
        min-height: 34px;
        height: auto;
        min-width: 214px;
        width: 100%;

        white-space: nowrap;
        &:hover,
        &.active {
            background-color: $red;
            color: $white;
        }
        // overflow-x: auto;
    }

    &__content {
        display: flex;
        gap: 0 20px;
        @media screen and (max-width: 1024px) {
            flex-direction: column;
            gap: 20px;
        }
    }

    &__map {
        flex: 1 1 700px;

        min-height: 410px;
        height: auto;

        @media screen and (max-width: 1024px) {
            max-height: 275px;
            // flex: auto;
            // max-width: 1024px;
            // width: 100%;
        }

        @media screen and (max-width: 500px) {
            flex: none;
            width: 300px;
        }
    }

    &__caption {
        flex: 0 1 357px;
        padding: 20px;
        background: $red;
        display: none;
        flex-direction: column;
        &.active {
            display: flex;
        }

        @media screen and (max-width: 1024px) {
            // min-height: 275px;
            flex: 1 1 100%;
        }
    }

    &__caption-title {
        color: $white;
        margin-bottom: 10px;
        font-size: 18px;

        font-weight: 600;

        text-transform: uppercase;
    }

    &__caption-text {
        color: $white;
        margin-bottom: 20px;
        font-size: 16px;
        font-family: "Golos Text", sans-serif;
        line-height: 130%;
    }

    &__caption-address {
        font-family: "Golos Text", sans-serif;
        color: $white;
        font-weight: 700;
        font-size: 16px;
        padding-bottom: 10px;
    }

    &__caption-copy {
        margin-top: auto;

        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 50px;
        padding: 10px;
        border: 2px solid $white;
        color: $white;
        @include transition;
        &:hover {
            background-color: $black;
            border: 2px solid $black;
        }
        @media screen and (max-width: 1024px) {
            max-width: 320px;
            width: 100%;
        }
        // background-color: $black;
    }
}
