@mixin font($a, $b) {
    font-size: $a;
    line-height: $b;
    // font-weight: $c;
    // color: $d;
}
@mixin flex-center($valueFlex) {
    display: $valueFlex;
    align-items: center;
    justify-content: center;
}
@mixin transition {
    transition: 0.3s all;
}
$black: #131313;
$white: #fff;
$red: #d72a28;
$grey: #848484;
